doctype
html
  head
    title= title
  body
    h1= "Let's talk about pug"

    section
      h2= h2
      p= p

    div
      ul
        li= item1
        li= item2
        li= item3
        li= item4

    a(href="https://www.npmjs.com/package/pug") Learn more about pug here
