doctype
html
  head
    title= title
  body
    h1 Let's talk about pug

    section
      h2 This is pug!
      p Pug is a template engine that is awesomesauce!

    div
      h2= h2
      ul
        li= item1
        li= item2
        li= item3
        li= item4

    label(for="test") Label for input
    input(name="input", type="text", id="test", placeholder="placeholder text")

    p
    a(href="https://www.npmjs.com/package/pug") this is a link

    img(src="http://prismmagazine.ca/wp-content/uploads/2015/03/pug-life-funny-pictures.jpg")
