doctype
//- doctype defaults to html, can be xml, strict, etc...
html
  head
    title Pug Demo
    link(rel="stylesheet", href="/style/style.css")

  body
    h2 Let's code some pug!

    section
      h2 This is pug!
      p Pug is a template engine implemented in javascript using node. It compiles into standard HTML. Pug relies on indention rather than opening and closing tags to create elements. Pug was formally known as Jade.

    //- more expilicit version of div
    //- div is default so you could just write
    //-  #div
    div(id="div")
      //- below notic how the equals sign only has a space on the right side
      //- this is pretty important in pug. having space on both sides will
      //- break it
      h2= h2
      ul
        li= item1
        li= item2
        li= item3
        li= item4

    form(method="post", action="/pugs")
      label(for="test") Label for input
      input(name="input", type="text", id="test", placeholder="placeholder text")
      input(type="submit", value="submit")

    p
      a(href="https://pugjs.org/api/getting-started.html") Best link ever!

    img(src="http://prismmagazine.ca/wp-content/uploads/2015/03/pug-life-funny-pictures.jpg")

    //- additional talking points if time permits
    //- go to docs and show them a couple cool things

    //- extends
    //- code
    //- inherites
